/** Slideshow stuff. **/

.pane-views-release-slideshow-block-1 {

    padding: 10px;
    background: #d0d0d0;

}

#views_slideshow_singleframe_main_release_slideshow-block_1 {

    margin-right: 16px;
    background: #6A6A6A;

}

.view-id-release_slideshow .views-field-name {
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.view-id-release_slideshow .views-field-name,
.activeSlide {

    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(63, 152, 169) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(63, 152, 169, 0.5);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F3F98A9, endColorstr=#7F3F98A9);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F3F98A9, endColorstr=#7F3F98A9)";
}

.view-id-release_slideshow .views-field-name span a {
    color: white;
    font-size: 200%;
    text-transform: uppercase;
    margin-left: 10px;
}

.view-id-release_slideshow .views-field-title,
.view-id-release_slideshow .views-field-teaser {

    float: right;
    clear: both;

}

#views_slideshow_singleframe_teaser_section_release_slideshow-block_1, 
#views_slideshow_singleframe_teaser_section_release_slideshow-block_1 .views_slideshow_singleframe_slide {

    width: 100% !important;
    height: 175px !important;

}

.view-id-release_slideshow .views-field-title,
.view-id-release_slideshow .views-field-teaser {

    width: 230px;
    padding: 5px;
}

.view-id-release_slideshow .views-field-field-frontpage-image-fid,
.view-id-release_slideshow .views-field-name {

    width: 250px;

}

.view-id-release_slideshow .views-slideshow-controls-top {

    float: right;
    margin-top: 20px;
    font-size: 125%;

}

.view-id-release_slideshow .views_slideshow_singleframe_pager div {

    display: block;
    padding-left: 0px;
}

#views_slideshow_singleframe_main_release_slideshow-block_1 {

}

.view-id-release_slideshow .views-field-title a {
    font-size: 175%;
    color: #3F98A9;
}

.view-id-release_slideshow .views-field-teaser {

    font-size: 125%;
    color: white;

}

/** Frontpage articles **/

/** Specific theming for 3-article version: **/

#block-views-release_articles-block_1 .views-field-tid {
    font-size: 125%;
}

#block-views-release_articles-block_1 .views-row {
    width: 150px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
    *display: inline;  
    *margin: 0 20px 0 20px;
    text-align: left;
}

/** Specific theming for 2-article version: **/

#block-views-release_articles-block_2 .views-field-tid {
    font-size: 150%;
}

#block-views-release_articles-block_2 .views-row {
    width: 225px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    *display: inline;  
    *margin: 0 20px 0 20px;
    text-align: left;
}

#block-views-release_articles-block_2 .views-field-title {
    font-weight: bold;
    font-size: 125%;
}

/** Shared **/

#block-views-release_articles-block_1,
#block-views-release_articles-block_2
{
    margin-top: 20px;
}

#block-views-release_articles-block_1 .view-content,
#block-views-release_articles-block_2 .view-content {

    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

#block-views-release_articles-block_1 .views-row-first,
#block-views-release_articles-block_2 .views-row-first {
    margin-left: 0px;
}

#block-views-release_articles-block_1 .views-row-last,
#block-views-release_articles-block_2 .views-row-last {
    margin-right: 0px;
}

#block-views-release_articles-block_1 .views-field-tid,
#block-views-release_articles-block_2 .views-field-tid {
    border-bottom: 5px solid #3F98A9;
    margin-bottom: 5px;
}

/** Blockquotes. **/

blockquote {
    padding-left: 5px;
}

blockquote,
.views-field-field-quote-value {
    color: black;
    font-size: 110%;
    font-style: inherit;
}

.views-field-field-quote-value {
    text-align: right;
}

blockquote:before, blockquote:after {
    display: block;
    font-size: 400%;
    width: 25px;
}

blockquote:before {
    content: '\201C';
    height: 20px;
    margin-left: -20px;
    margin-top: -25px;
}

blockquote:after {
    content: '\201D';
    height: 40px;
    margin-top: -30px;
    margin-left: 140px;
}

/** Borders at the bottom of each block. **/

#right div.block, #left div.block {
    border-bottom: 1px solid black;
}

/** Disable terrible play button. **/

.emvideo-thumbnail-replacement span {
    background: none;
}

/** Article page theming, meta section **/
h3.meta .tags {
    display: inline;
}

h3.meta .tags ul.links {
    display: inline;
    text-align: left;
    font-size: 100%;
}

h3.meta .tags ul.links li {
    padding: 0px;
}

.block .title {
    color: #000;
    background: none;
    border: none;
    font: inherit;
    font-size: 125%;
    margin: 0px;
    padding: 0px;
}

.article-introduction {
    font-style: italic;
}

#main-navigation,
#footer-message  {
    background: #3F98A9;
}

#footer-message {
    color: white;
    padding: 0px;
    margin: 1em 0px;
    float: left;
}

#footer-message p {
    margin: 5px auto;
    width: 66%;
}

#footer-message a {
    color: white;
    font-weight: bold;
}

a:link {
    color: #3F98A9;
}

.view-release-archive .views-field-created {
    font-style: italic;
    margin-right: 10px;
    color: #ddd;
}

#logo-box {
    width: 200px;
    margin-top: 20px;
    float: right;
}

#logo-box p {
    font-size: 75%;
    font-style: italic;
    text-align: right;
}

#logo-box img {
    float: right;
    margin-left: 10px;
}

.view-release-about h3 a:active,
.view-release-about h3 a:hover,
.view-release-about h3 a:focus {
    text-decoration: none;
    color: black;
}

.view-release-about .views-field-body {
    width: 50%;
    float: right;
}

.view-release-about h3 {
    margin-bottom: 10px;
}

.view-release-about .views-row {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

/** No bottom borders for the last blocks. **/
#left #block-release_custom_module-subscribe.block,
#right #block-views-release_video-block_1.block {
    border-bottom: none;
}
